
<div xmlns:th="http://www.thymeleaf.org" ng-controller="ServiceFormSelectController" ng-init="init()">
<h1 th:text="#{serviceform_plural}"></h1>
	
	
	<div layout="row">
		
			<div flex=""  ng-show="fields.id.visibility" class="border_right" >
			      	<md-input-container  class="md-block" >
						<input th:attr="placeholder=#{serviceform.search_id}"     class="form-control" for="id" ng-model="filter.id" ng-keyup="$event.keyCode == 13 ? index() : ''" />
					</md-input-container>
			</div>

			<div flex=""  ng-show="fields.customer.visibility" class="border_right" >
			      	<md-input-container  class="md-block" >
						<input th:attr="placeholder=#{serviceform.search_customer}"     class="form-control" for="customer" ng-model="filter.customer" ng-keyup="$event.keyCode == 13 ? index() : ''" />
					</md-input-container>
			</div>

			<div flex=""  ng-show="fields.customerTitle.visibility" class="border_right" >
			      	<md-input-container  class="md-block" >
						<input th:attr="placeholder=#{serviceform.search_customerTitle}"     class="form-control" for="customerTitle" ng-model="filter.customerTitle" ng-keyup="$event.keyCode == 13 ? index() : ''" />
					</md-input-container>
			</div>

			<div flex=""  ng-show="fields.department.visibility" class="border_right" >
			      	<md-input-container  class="md-block" >
						<input th:attr="placeholder=#{serviceform.search_department}"     class="form-control" for="department" ng-model="filter.department" ng-keyup="$event.keyCode == 13 ? index() : ''" />
					</md-input-container>
			</div>

			<div flex=""  ng-show="fields.address.visibility" class="border_right" >
			      	<md-input-container  class="md-block" >
						<input th:attr="placeholder=#{serviceform.search_address}"     class="form-control" for="address" ng-model="filter.address" ng-keyup="$event.keyCode == 13 ? index() : ''" />
					</md-input-container>
			</div>

			<div flex=""  ng-show="fields.tel.visibility" class="border_right" >
			      	<md-input-container  class="md-block" >
						<input th:attr="placeholder=#{serviceform.search_tel}"     class="form-control" for="tel" ng-model="filter.tel" ng-keyup="$event.keyCode == 13 ? index() : ''" />
					</md-input-container>
			</div>

			<div flex=""  ng-show="fields.emails.visibility" class="border_right" >
			      	<md-input-container  class="md-block" >
						<input th:attr="placeholder=#{serviceform.search_emails}"     class="form-control" for="emails" ng-model="filter.emails" ng-keyup="$event.keyCode == 13 ? index() : ''" />
					</md-input-container>
			</div>

			<div flex=""  ng-show="fields.authorizedPerson.visibility" class="border_right" >
			      	<md-input-container  class="md-block" >
						<input th:attr="placeholder=#{serviceform.search_authorizedPerson}"     class="form-control" for="authorizedPerson" ng-model="filter.authorizedPerson" ng-keyup="$event.keyCode == 13 ? index() : ''" />
					</md-input-container>
			</div>

			<div flex=""   ng-show="fields.requestDate.visibility" class="border_right">
				<div layout="row">
					<div layout="column">
						<div layout="flex">
							<md-datepicker ng-model="filter.requestDate.min"   ></md-datepicker>
						</div>
						<div layout="flex">
							<md-datepicker ng-model="filter.requestDate.max"   ></md-datepicker>
						</div>
					</div>
					<div layout="column" layout-align="end end">
						<i class="material-icons" ng-click="index();">search</i>
					</div>
				</div>
			</div>

			<div flex=""   ng-show="fields.serviceDate.visibility" class="border_right">
				<div layout="row">
					<div layout="column">
						<div layout="flex">
							<md-datepicker ng-model="filter.serviceDate.min"   ></md-datepicker>
						</div>
						<div layout="flex">
							<md-datepicker ng-model="filter.serviceDate.max"   ></md-datepicker>
						</div>
					</div>
					<div layout="column" layout-align="end end">
						<i class="material-icons" ng-click="index();">search</i>
					</div>
				</div>
			</div>

			<div flex=""  ng-show="fields.serviceType.visibility" class="border_right" >
			      	<md-input-container  class="md-block" >
						<input th:attr="placeholder=#{serviceform.search_serviceType}"     class="form-control" for="serviceType" ng-model="filter.serviceType" ng-keyup="$event.keyCode == 13 ? index() : ''" />
					</md-input-container>
			</div>

			<div flex=""  ng-show="fields.scope.visibility" class="border_right" >
			      	<md-input-container  class="md-block" >
						
						<md-select ng-model="filter.scope" ng-change="selectFilterChanged('scope')">
							<md-option value="optionclear" th:text="#{clearSelectSearch}"></md-option>
							 	
<md-option value="str.remoteSupport" th:text="#{str.remoteSupport}" ></md-option>

<md-option value="str.localSupport" th:text="#{str.localSupport}" ></md-option>

		        		</md-select>
					</md-input-container>
			</div>
			
		

			<div flex=""  ng-show="fields.serviceDefinition.visibility" class="border_right" >
			      	<md-input-container  class="md-block" >
						<input th:attr="placeholder=#{serviceform.search_serviceDefinition}"     class="form-control" for="serviceDefinition" ng-model="filter.serviceDefinition" ng-keyup="$event.keyCode == 13 ? index() : ''" />
					</md-input-container>
			</div>

			<div flex=""  ng-show="fields.usedMaterial.visibility" class="border_right" >
			      	<md-input-container  class="md-block" >
						<input th:attr="placeholder=#{serviceform.search_usedMaterial}"     class="form-control" for="usedMaterial" ng-model="filter.usedMaterial" ng-keyup="$event.keyCode == 13 ? index() : ''" />
					</md-input-container>
			</div>

			<div flex=""  ng-show="fields.contracted.visibility" class="border_right" >
				<div layout="row">
					<div layout="column">
				      	<md-input-container  class="md-block" >
							 <md-checkbox md-no-ink="" ng-change="index();" ng-model="filter.contracted" class="md-primary" th:text="#{ServiceForm.contracted}">
	            
	          				</md-checkbox>
						</md-input-container>
					</div>
					<div layout="column" layout-align="end end">
						<i class="material-icons" ng-click="filter.contracted=null;index();">delete</i>
					</div>
				</div>
			</div>

			<div flex=""  ng-show="fields.serviceDescription.visibility" class="border_right" >
			      	<md-input-container  class="md-block" >
						<input th:attr="placeholder=#{serviceform.search_serviceDescription}"     class="form-control" for="serviceDescription" ng-model="filter.serviceDescription" ng-keyup="$event.keyCode == 13 ? index() : ''" />
					</md-input-container>
			</div>

			<div flex=""  ng-show="fields.startTime.visibility" class="border_right" >
			      	<md-input-container  class="md-block" >
						<input th:attr="placeholder=#{serviceform.search_startTime}"     class="form-control" for="startTime" ng-model="filter.startTime" ng-keyup="$event.keyCode == 13 ? index() : ''" />
					</md-input-container>
			</div>

			<div flex=""  ng-show="fields.finishTime.visibility" class="border_right" >
			      	<md-input-container  class="md-block" >
						<input th:attr="placeholder=#{serviceform.search_finishTime}"     class="form-control" for="finishTime" ng-model="filter.finishTime" ng-keyup="$event.keyCode == 13 ? index() : ''" />
					</md-input-container>
			</div>

			<div flex=""  ng-show="fields.duration.visibility" class="border_right" >
			      	<md-input-container  class="md-block" >
						<input th:attr="placeholder=#{serviceform.search_duration}"     class="form-control" for="duration" ng-model="filter.duration" ng-keyup="$event.keyCode == 13 ? index() : ''" />
					</md-input-container>
			</div>

			<div flex=""  ng-show="fields.pricing.visibility" class="border_right" >
			      	<md-input-container  class="md-block" >
						
						<md-select ng-model="filter.pricing" ng-change="selectFilterChanged('pricing')">
							<md-option value="optionclear" th:text="#{clearSelectSearch}"></md-option>
							 	
<md-option value="str.servicePayment" th:text="#{str.servicePayment}" ></md-option>

<md-option value="str.manHour" th:text="#{str.manHour}" ></md-option>

		        		</md-select>
					</md-input-container>
			</div>
			
		

			<div flex=""  ng-show="fields.serviceFormPricing.visibility" class="border_right" >
			      	<md-input-container  class="md-block" >
						<input th:attr="placeholder=#{serviceform.search_serviceFormPricing}"     class="form-control" for="serviceFormPricing" ng-model="filter.serviceFormPricing" ng-keyup="$event.keyCode == 13 ? index() : ''" />
					</md-input-container>
			</div>

			<div flex=""  ng-show="fields.employee.visibility" class="border_right" >
			      	<md-input-container  class="md-block" >
						<input th:attr="placeholder=#{serviceform.search_employee}"     class="form-control" for="employee" ng-model="filter.employee" ng-keyup="$event.keyCode == 13 ? index() : ''" />
					</md-input-container>
			</div>

			<div flex=""  ng-show="fields.createdBy.visibility" class="border_right" >
			      	<md-input-container  class="md-block" >
						<input th:attr="placeholder=#{serviceform.search_createdBy}"     class="form-control" for="createdBy" ng-model="filter.createdBy" ng-keyup="$event.keyCode == 13 ? index() : ''" />
					</md-input-container>
			</div>

			<div flex=""  ng-show="fields.owner.visibility" class="border_right" >
			      	<md-input-container  class="md-block" >
						<input th:attr="placeholder=#{serviceform.search_owner}"     class="form-control" for="owner" ng-model="filter.owner" ng-keyup="$event.keyCode == 13 ? index() : ''" />
					</md-input-container>
			</div>

			<div flex=""  ng-show="fields.updatedBy.visibility" class="border_right" >
			      	<md-input-container  class="md-block" >
						<input th:attr="placeholder=#{serviceform.search_updatedBy}"     class="form-control" for="updatedBy" ng-model="filter.updatedBy" ng-keyup="$event.keyCode == 13 ? index() : ''" />
					</md-input-container>
			</div>

			<div flex=""   ng-show="fields.createdAt.visibility" class="border_right">
				<div layout="row">
					<div layout="column">
						<div layout="flex">
							<md-datepicker ng-model="filter.createdAt.min"   ></md-datepicker>
						</div>
						<div layout="flex">
							<md-datepicker ng-model="filter.createdAt.max"   ></md-datepicker>
						</div>
					</div>
					<div layout="column" layout-align="end end">
						<i class="material-icons" ng-click="index();">search</i>
					</div>
				</div>
			</div>

			<div flex=""   ng-show="fields.updatedAt.visibility" class="border_right">
				<div layout="row">
					<div layout="column">
						<div layout="flex">
							<md-datepicker ng-model="filter.updatedAt.min"   ></md-datepicker>
						</div>
						<div layout="flex">
							<md-datepicker ng-model="filter.updatedAt.max"   ></md-datepicker>
						</div>
					</div>
					<div layout="column" layout-align="end end">
						<i class="material-icons" ng-click="index();">search</i>
					</div>
				</div>
			</div>

			<div flex=""  ng-show="fields.deleted.visibility" class="border_right" >
				<div layout="row">
					<div layout="column">
				      	<md-input-container  class="md-block" >
							 <md-checkbox md-no-ink="" ng-change="index();" ng-model="filter.deleted" class="md-primary" th:text="#{ServiceForm.deleted}">
	            
	          				</md-checkbox>
						</md-input-container>
					</div>
					<div layout="column" layout-align="end end">
						<i class="material-icons" ng-click="filter.deleted=null;index();">delete</i>
					</div>
				</div>
			</div>

		<div flex="" >
			
		</div>
	</div>
	
	 
	 
	 <div layout="row">
		
				<div flex=""  ng-show="fields.id.visibility" class="border_right">
				      	<md-input-container  class="md-block" >
						<label  class="form-control-label padding-left" for="id" th:text="#{serviceform.id}">
						</label> <!--  style="padding-left: 30%" -->
					</md-input-container>
				</div>

				<div flex=""  ng-show="fields.customer.visibility" class="border_right">
				      	<md-input-container  class="md-block" >
						<label  class="form-control-label padding-left" for="customer" th:text="#{serviceform.customer}">
						</label> <!--  style="padding-left: 30%" -->
					</md-input-container>
				</div>

				<div flex=""  ng-show="fields.customerTitle.visibility" class="border_right">
				      	<md-input-container  class="md-block" >
						<label  class="form-control-label padding-left" for="customerTitle" th:text="#{serviceform.customerTitle}">
						</label> <!--  style="padding-left: 30%" -->
					</md-input-container>
				</div>

				<div flex=""  ng-show="fields.department.visibility" class="border_right">
				      	<md-input-container  class="md-block" >
						<label  class="form-control-label padding-left" for="department" th:text="#{serviceform.department}">
						</label> <!--  style="padding-left: 30%" -->
					</md-input-container>
				</div>

				<div flex=""  ng-show="fields.address.visibility" class="border_right">
				      	<md-input-container  class="md-block" >
						<label  class="form-control-label padding-left" for="address" th:text="#{serviceform.address}">
						</label> <!--  style="padding-left: 30%" -->
					</md-input-container>
				</div>

				<div flex=""  ng-show="fields.tel.visibility" class="border_right">
				      	<md-input-container  class="md-block" >
						<label  class="form-control-label padding-left" for="tel" th:text="#{serviceform.tel}">
						</label> <!--  style="padding-left: 30%" -->
					</md-input-container>
				</div>

				<div flex=""  ng-show="fields.emails.visibility" class="border_right">
				      	<md-input-container  class="md-block" >
						<label  class="form-control-label padding-left" for="emails" th:text="#{serviceform.emails}">
						</label> <!--  style="padding-left: 30%" -->
					</md-input-container>
				</div>

				<div flex=""  ng-show="fields.authorizedPerson.visibility" class="border_right">
				      	<md-input-container  class="md-block" >
						<label  class="form-control-label padding-left" for="authorizedPerson" th:text="#{serviceform.authorizedPerson}">
						</label> <!--  style="padding-left: 30%" -->
					</md-input-container>
				</div>

				<div flex=""  ng-show="fields.requestDate.visibility" class="border_right">
				      	<md-input-container  class="md-block" >
						<label  class="form-control-label padding-left" for="requestDate" th:text="#{serviceform.requestDate}">
						</label> <!--  style="padding-left: 30%" -->
					</md-input-container>
				</div>

				<div flex=""  ng-show="fields.serviceDate.visibility" class="border_right">
				      	<md-input-container  class="md-block" >
						<label  class="form-control-label padding-left" for="serviceDate" th:text="#{serviceform.serviceDate}">
						</label> <!--  style="padding-left: 30%" -->
					</md-input-container>
				</div>

				<div flex=""  ng-show="fields.serviceType.visibility" class="border_right">
				      	<md-input-container  class="md-block" >
						<label  class="form-control-label padding-left" for="serviceType" th:text="#{serviceform.serviceType}">
						</label> <!--  style="padding-left: 30%" -->
					</md-input-container>
				</div>

				<div flex=""  ng-show="fields.scope.visibility" class="border_right">
				      	<md-input-container  class="md-block" >
						<label  class="form-control-label padding-left" for="scope" th:text="#{serviceform.scope}">
						</label> <!--  style="padding-left: 30%" -->
					</md-input-container>
				</div>

				<div flex=""  ng-show="fields.serviceDefinition.visibility" class="border_right">
				      	<md-input-container  class="md-block" >
						<label  class="form-control-label padding-left" for="serviceDefinition" th:text="#{serviceform.serviceDefinition}">
						</label> <!--  style="padding-left: 30%" -->
					</md-input-container>
				</div>

				<div flex=""  ng-show="fields.usedMaterial.visibility" class="border_right">
				      	<md-input-container  class="md-block" >
						<label  class="form-control-label padding-left" for="usedMaterial" th:text="#{serviceform.usedMaterial}">
						</label> <!--  style="padding-left: 30%" -->
					</md-input-container>
				</div>

				<div flex=""  ng-show="fields.contracted.visibility" class="border_right">
				      	<md-input-container  class="md-block" >
						<label  class="form-control-label padding-left" for="contracted" th:text="#{serviceform.contracted}">
						</label> <!--  style="padding-left: 30%" -->
					</md-input-container>
				</div>

				<div flex=""  ng-show="fields.serviceDescription.visibility" class="border_right">
				      	<md-input-container  class="md-block" >
						<label  class="form-control-label padding-left" for="serviceDescription" th:text="#{serviceform.serviceDescription}">
						</label> <!--  style="padding-left: 30%" -->
					</md-input-container>
				</div>

				<div flex=""  ng-show="fields.startTime.visibility" class="border_right">
				      	<md-input-container  class="md-block" >
						<label  class="form-control-label padding-left" for="startTime" th:text="#{serviceform.startTime}">
						</label> <!--  style="padding-left: 30%" -->
					</md-input-container>
				</div>

				<div flex=""  ng-show="fields.finishTime.visibility" class="border_right">
				      	<md-input-container  class="md-block" >
						<label  class="form-control-label padding-left" for="finishTime" th:text="#{serviceform.finishTime}">
						</label> <!--  style="padding-left: 30%" -->
					</md-input-container>
				</div>

				<div flex=""  ng-show="fields.duration.visibility" class="border_right">
				      	<md-input-container  class="md-block" >
						<label  class="form-control-label padding-left" for="duration" th:text="#{serviceform.duration}">
						</label> <!--  style="padding-left: 30%" -->
					</md-input-container>
				</div>

				<div flex=""  ng-show="fields.pricing.visibility" class="border_right">
				      	<md-input-container  class="md-block" >
						<label  class="form-control-label padding-left" for="pricing" th:text="#{serviceform.pricing}">
						</label> <!--  style="padding-left: 30%" -->
					</md-input-container>
				</div>

				<div flex=""  ng-show="fields.serviceFormPricing.visibility" class="border_right">
				      	<md-input-container  class="md-block" >
						<label  class="form-control-label padding-left" for="serviceFormPricing" th:text="#{serviceform.serviceFormPricing}">
						</label> <!--  style="padding-left: 30%" -->
					</md-input-container>
				</div>

				<div flex=""  ng-show="fields.employee.visibility" class="border_right">
				      	<md-input-container  class="md-block" >
						<label  class="form-control-label padding-left" for="employee" th:text="#{serviceform.employee}">
						</label> <!--  style="padding-left: 30%" -->
					</md-input-container>
				</div>

				<div flex=""  ng-show="fields.createdBy.visibility" class="border_right">
				      	<md-input-container  class="md-block" >
						<label  class="form-control-label padding-left" for="createdBy" th:text="#{serviceform.createdBy}">
						</label> <!--  style="padding-left: 30%" -->
					</md-input-container>
				</div>

				<div flex=""  ng-show="fields.owner.visibility" class="border_right">
				      	<md-input-container  class="md-block" >
						<label  class="form-control-label padding-left" for="owner" th:text="#{serviceform.owner}">
						</label> <!--  style="padding-left: 30%" -->
					</md-input-container>
				</div>

				<div flex=""  ng-show="fields.updatedBy.visibility" class="border_right">
				      	<md-input-container  class="md-block" >
						<label  class="form-control-label padding-left" for="updatedBy" th:text="#{serviceform.updatedBy}">
						</label> <!--  style="padding-left: 30%" -->
					</md-input-container>
				</div>

				<div flex=""  ng-show="fields.createdAt.visibility" class="border_right">
				      	<md-input-container  class="md-block" >
						<label  class="form-control-label padding-left" for="createdAt" th:text="#{serviceform.createdAt}">
						</label> <!--  style="padding-left: 30%" -->
					</md-input-container>
				</div>

				<div flex=""  ng-show="fields.updatedAt.visibility" class="border_right">
				      	<md-input-container  class="md-block" >
						<label  class="form-control-label padding-left" for="updatedAt" th:text="#{serviceform.updatedAt}">
						</label> <!--  style="padding-left: 30%" -->
					</md-input-container>
				</div>

				<div flex=""  ng-show="fields.deleted.visibility" class="border_right">
				      	<md-input-container  class="md-block" >
						<label  class="form-control-label padding-left" for="deleted" th:text="#{serviceform.deleted}">
						</label> <!--  style="padding-left: 30%" -->
					</md-input-container>
				</div>

		<div flex="">
			
			<md-menu>
				<md-button aria-label="fields menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
		        	<i class="material-icons">assignment
		        		<md-tooltip md-direction="bottom">
					    	<span th:text="#{str.fields}"></span>
					    </md-tooltip>
		        	</i>
		      	</md-button>
		      	<md-menu-content width="4">
			      	
		        <md-menu-item>
		        	<md-button  md-prevent-menu-close="md-prevent-menu-close">
			        	<md-checkbox layout="row" aria-label="Checkbox serviceform.id" ng-model="fields.id.visibility" th:text="#{serviceform.id}">
			        	</md-checkbox>
		          	</md-button>
		        </md-menu-item>
		        
		        <md-menu-divider></md-menu-divider>

		        <md-menu-item>
		        	<md-button  md-prevent-menu-close="md-prevent-menu-close">
			        	<md-checkbox layout="row" aria-label="Checkbox serviceform.customer" ng-model="fields.customer.visibility" th:text="#{serviceform.customer}">
			        	</md-checkbox>
		          	</md-button>
		        </md-menu-item>
		        
		        <md-menu-divider></md-menu-divider>

		        <md-menu-item>
		        	<md-button  md-prevent-menu-close="md-prevent-menu-close">
			        	<md-checkbox layout="row" aria-label="Checkbox serviceform.customerTitle" ng-model="fields.customerTitle.visibility" th:text="#{serviceform.customerTitle}">
			        	</md-checkbox>
		          	</md-button>
		        </md-menu-item>
		        
		        <md-menu-divider></md-menu-divider>

		        <md-menu-item>
		        	<md-button  md-prevent-menu-close="md-prevent-menu-close">
			        	<md-checkbox layout="row" aria-label="Checkbox serviceform.department" ng-model="fields.department.visibility" th:text="#{serviceform.department}">
			        	</md-checkbox>
		          	</md-button>
		        </md-menu-item>
		        
		        <md-menu-divider></md-menu-divider>

		        <md-menu-item>
		        	<md-button  md-prevent-menu-close="md-prevent-menu-close">
			        	<md-checkbox layout="row" aria-label="Checkbox serviceform.address" ng-model="fields.address.visibility" th:text="#{serviceform.address}">
			        	</md-checkbox>
		          	</md-button>
		        </md-menu-item>
		        
		        <md-menu-divider></md-menu-divider>

		        <md-menu-item>
		        	<md-button  md-prevent-menu-close="md-prevent-menu-close">
			        	<md-checkbox layout="row" aria-label="Checkbox serviceform.tel" ng-model="fields.tel.visibility" th:text="#{serviceform.tel}">
			        	</md-checkbox>
		          	</md-button>
		        </md-menu-item>
		        
		        <md-menu-divider></md-menu-divider>

		        <md-menu-item>
		        	<md-button  md-prevent-menu-close="md-prevent-menu-close">
			        	<md-checkbox layout="row" aria-label="Checkbox serviceform.emails" ng-model="fields.emails.visibility" th:text="#{serviceform.emails}">
			        	</md-checkbox>
		          	</md-button>
		        </md-menu-item>
		        
		        <md-menu-divider></md-menu-divider>

		        <md-menu-item>
		        	<md-button  md-prevent-menu-close="md-prevent-menu-close">
			        	<md-checkbox layout="row" aria-label="Checkbox serviceform.authorizedPerson" ng-model="fields.authorizedPerson.visibility" th:text="#{serviceform.authorizedPerson}">
			        	</md-checkbox>
		          	</md-button>
		        </md-menu-item>
		        
		        <md-menu-divider></md-menu-divider>

		        <md-menu-item>
		        	<md-button  md-prevent-menu-close="md-prevent-menu-close">
			        	<md-checkbox layout="row" aria-label="Checkbox serviceform.requestDate" ng-model="fields.requestDate.visibility" th:text="#{serviceform.requestDate}">
			        	</md-checkbox>
		          	</md-button>
		        </md-menu-item>
		        
		        <md-menu-divider></md-menu-divider>

		        <md-menu-item>
		        	<md-button  md-prevent-menu-close="md-prevent-menu-close">
			        	<md-checkbox layout="row" aria-label="Checkbox serviceform.serviceDate" ng-model="fields.serviceDate.visibility" th:text="#{serviceform.serviceDate}">
			        	</md-checkbox>
		          	</md-button>
		        </md-menu-item>
		        
		        <md-menu-divider></md-menu-divider>

		        <md-menu-item>
		        	<md-button  md-prevent-menu-close="md-prevent-menu-close">
			        	<md-checkbox layout="row" aria-label="Checkbox serviceform.serviceType" ng-model="fields.serviceType.visibility" th:text="#{serviceform.serviceType}">
			        	</md-checkbox>
		          	</md-button>
		        </md-menu-item>
		        
		        <md-menu-divider></md-menu-divider>

		        <md-menu-item>
		        	<md-button  md-prevent-menu-close="md-prevent-menu-close">
			        	<md-checkbox layout="row" aria-label="Checkbox serviceform.scope" ng-model="fields.scope.visibility" th:text="#{serviceform.scope}">
			        	</md-checkbox>
		          	</md-button>
		        </md-menu-item>
		        
		        <md-menu-divider></md-menu-divider>

		        <md-menu-item>
		        	<md-button  md-prevent-menu-close="md-prevent-menu-close">
			        	<md-checkbox layout="row" aria-label="Checkbox serviceform.serviceDefinition" ng-model="fields.serviceDefinition.visibility" th:text="#{serviceform.serviceDefinition}">
			        	</md-checkbox>
		          	</md-button>
		        </md-menu-item>
		        
		        <md-menu-divider></md-menu-divider>

		        <md-menu-item>
		        	<md-button  md-prevent-menu-close="md-prevent-menu-close">
			        	<md-checkbox layout="row" aria-label="Checkbox serviceform.usedMaterial" ng-model="fields.usedMaterial.visibility" th:text="#{serviceform.usedMaterial}">
			        	</md-checkbox>
		          	</md-button>
		        </md-menu-item>
		        
		        <md-menu-divider></md-menu-divider>

		        <md-menu-item>
		        	<md-button  md-prevent-menu-close="md-prevent-menu-close">
			        	<md-checkbox layout="row" aria-label="Checkbox serviceform.contracted" ng-model="fields.contracted.visibility" th:text="#{serviceform.contracted}">
			        	</md-checkbox>
		          	</md-button>
		        </md-menu-item>
		        
		        <md-menu-divider></md-menu-divider>

		        <md-menu-item>
		        	<md-button  md-prevent-menu-close="md-prevent-menu-close">
			        	<md-checkbox layout="row" aria-label="Checkbox serviceform.serviceDescription" ng-model="fields.serviceDescription.visibility" th:text="#{serviceform.serviceDescription}">
			        	</md-checkbox>
		          	</md-button>
		        </md-menu-item>
		        
		        <md-menu-divider></md-menu-divider>

		        <md-menu-item>
		        	<md-button  md-prevent-menu-close="md-prevent-menu-close">
			        	<md-checkbox layout="row" aria-label="Checkbox serviceform.startTime" ng-model="fields.startTime.visibility" th:text="#{serviceform.startTime}">
			        	</md-checkbox>
		          	</md-button>
		        </md-menu-item>
		        
		        <md-menu-divider></md-menu-divider>

		        <md-menu-item>
		        	<md-button  md-prevent-menu-close="md-prevent-menu-close">
			        	<md-checkbox layout="row" aria-label="Checkbox serviceform.finishTime" ng-model="fields.finishTime.visibility" th:text="#{serviceform.finishTime}">
			        	</md-checkbox>
		          	</md-button>
		        </md-menu-item>
		        
		        <md-menu-divider></md-menu-divider>

		        <md-menu-item>
		        	<md-button  md-prevent-menu-close="md-prevent-menu-close">
			        	<md-checkbox layout="row" aria-label="Checkbox serviceform.duration" ng-model="fields.duration.visibility" th:text="#{serviceform.duration}">
			        	</md-checkbox>
		          	</md-button>
		        </md-menu-item>
		        
		        <md-menu-divider></md-menu-divider>

		        <md-menu-item>
		        	<md-button  md-prevent-menu-close="md-prevent-menu-close">
			        	<md-checkbox layout="row" aria-label="Checkbox serviceform.pricing" ng-model="fields.pricing.visibility" th:text="#{serviceform.pricing}">
			        	</md-checkbox>
		          	</md-button>
		        </md-menu-item>
		        
		        <md-menu-divider></md-menu-divider>

		        <md-menu-item>
		        	<md-button  md-prevent-menu-close="md-prevent-menu-close">
			        	<md-checkbox layout="row" aria-label="Checkbox serviceform.employee" ng-model="fields.employee.visibility" th:text="#{serviceform.employee}">
			        	</md-checkbox>
		          	</md-button>
		        </md-menu-item>
		        
		        <md-menu-divider></md-menu-divider>

		      	</md-menu-content>
			</md-menu>
		</div>
	</div>
	 
	<md-divider></md-divider>
	
	<md-divider></md-divider>
	<br />
	<md-list >
		<md-list-item ng-repeat="serviceform in serviceformlist" class="restrow" >
			
		<div flex=""  ng-show="fields.id.visibility" >
			<span  >{{serviceform.id}}</span>
		</div>

				<div flex="" ng-show="fields.customer.visibility">
					<a data-href="/customer.json/{{serviceform.customer.id}}" 
					class="rest serviceform.customer indexselect"
					id="customer"
					ng-click="checkDeletedStatus($event, serviceform.customer.deleted);"
					>
					{{serviceform.customer.title}}
					</a>
				</div>

		<div flex=""  ng-show="fields.customerTitle.visibility" >
			<span  >{{serviceform.customerTitle}}</span>
		</div>

		<div flex=""  ng-show="fields.department.visibility" >
			<span  >{{serviceform.department}}</span>
		</div>

		<div flex=""  ng-show="fields.address.visibility" >
			<span  >{{serviceform.address}}</span>
		</div>

		<div flex=""  ng-show="fields.tel.visibility" >
			<span  >{{serviceform.tel}}</span>
		</div>

		<div flex=""  ng-show="fields.emails.visibility" >
			<span  >{{serviceform.emails}}</span>
		</div>

		<div flex=""  ng-show="fields.authorizedPerson.visibility" >
			<span  >{{serviceform.authorizedPerson}}</span>
		</div>

					<div flex=""  ng-show="fields.requestDate.visibility">
						<!-- <md-datepicker ng-model="serviceform.requestDate" disabled="" ></md-datepicker>-->
						<i  class="material-icons">today</i>
						<span ng-model="serviceform.requestDate" disabled="" >
							{{serviceform.requestDate | date:'dd-MM-yyyy'}}
						</span>
						
					</div>

					<div flex=""  ng-show="fields.serviceDate.visibility">
						<!-- <md-datepicker ng-model="serviceform.serviceDate" disabled="" ></md-datepicker>-->
						<i  class="material-icons">today</i>
						<span ng-model="serviceform.serviceDate" disabled="" >
							{{serviceform.serviceDate | date:'dd-MM-yyyy'}}
						</span>
						
					</div>

		<div flex=""  ng-show="fields.serviceType.visibility" >
			<span  >{{serviceform.serviceType}}</span>
		</div>

		<div flex=""  ng-show="fields.scope.visibility" >
			<span  >{{serviceform.translatedscope}}</span>
		</div>

		<div flex=""  ng-show="fields.serviceDefinition.visibility" >
			<span  >{{serviceform.serviceDefinition}}</span>
		</div>

		<div flex=""  ng-show="fields.usedMaterial.visibility" >
			<span  >{{serviceform.usedMaterial}}</span>
		</div>

		<div flex=""  ng-show="fields.contracted.visibility" >
			<md-checkbox  layout="row" ng-model="serviceform.contracted" th:text="#{serviceform.contracted}" disabled="disabled">
			</md-checkbox>
		</div>

		<div flex=""  ng-show="fields.serviceDescription.visibility" >
			<span  >{{serviceform.serviceDescription}}</span>
		</div>

		<div flex=""  ng-show="fields.startTime.visibility" >
			<span  >{{serviceform.startTime}}</span>
		</div>

		<div flex=""  ng-show="fields.finishTime.visibility" >
			<span  >{{serviceform.finishTime}}</span>
		</div>

		<div flex=""  ng-show="fields.duration.visibility" >
			<span  >{{serviceform.duration}}</span>
		</div>

		<div flex=""  ng-show="fields.pricing.visibility" >
			<span  >{{serviceform.translatedpricing}}</span>
		</div>

				<div flex="" ng-show="fields.serviceFormPricing.visibility">
					<a data-href="/serviceformpricing.json/{{serviceform.serviceFormPricing.id}}" 
					class="rest serviceform.serviceFormPricing indexselect"
					id="serviceformpricing"
					ng-click="checkDeletedStatus($event, serviceform.serviceFormPricing.deleted);"
					>
					{{serviceform.serviceFormPricing.title}}
					</a>
				</div>

				<div flex="" ng-show="fields.employee.visibility">
					<a data-href="/user.json/{{serviceform.employee.id}}" 
					class="rest serviceform.employee indexselect"
					id="user"
					ng-click="checkDeletedStatus($event, serviceform.employee.deleted);"
					>
					{{serviceform.employee.fullname}}
					</a>
				</div>

		<div flex=""  ng-show="fields.createdBy.visibility" >
			<span  >{{serviceform.createdBy}}</span>
		</div>

		<div flex=""  ng-show="fields.owner.visibility" >
			<span  >{{serviceform.owner}}</span>
		</div>

		<div flex=""  ng-show="fields.updatedBy.visibility" >
			<span  >{{serviceform.updatedBy}}</span>
		</div>

					<div flex=""  ng-show="fields.createdAt.visibility">
						<!-- <md-datepicker ng-model="serviceform.createdAt" disabled="" ></md-datepicker>-->
						<i  class="material-icons">today</i>
						<span ng-model="serviceform.createdAt" disabled="" >
							{{serviceform.createdAt | date:'dd-MM-yyyy'}}
						</span>
						
					</div>

					<div flex=""  ng-show="fields.updatedAt.visibility">
						<!-- <md-datepicker ng-model="serviceform.updatedAt" disabled="" ></md-datepicker>-->
						<i  class="material-icons">today</i>
						<span ng-model="serviceform.updatedAt" disabled="" >
							{{serviceform.updatedAt | date:'dd-MM-yyyy'}}
						</span>
						
					</div>

		<div flex=""  ng-show="fields.deleted.visibility" >
			<md-checkbox  layout="row" ng-model="serviceform.deleted" th:text="#{serviceform.deleted}" disabled="disabled">
			</md-checkbox>
		</div>

			<div flex="">
				<button type="button" class="btn btn-primary" ng-click="selectRelation(serviceform)" th:text="#{str.select}"></button>

			</div>
		</md-list-item>
	</md-list>
	<div layout="row">
		<uib-pagination total-items="totalItems" ng-model="currentPage" class="pagination-sm" max-size="5"
		  	previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" 
		  	boundary-link-numbers="true" rotate="false">
		</uib-pagination>
	</div>
	<span id="deleteConfirmation" th:text="#{str.deleteConfirmation}" ng-show="false"></span>
	<span id="deleteConfirmationTitle" th:text="#{str.deleteConfirmationTitle}" ng-show="false"></span>
	<span id="yes" th:text="#{str.yes}" ng-show="false"></span>
	<span id="no" th:text="#{str.no}" ng-show="false"></span>
</div>
