
<div xmlns:th="http://www.thymeleaf.org" class="container-fluid">
<h1>Service Forms</h1>
	<table class="resttable display" cellspacing="0" width="100%">
	<thead>
	<tr>
		<th>
			<div class="form-control-label" >
				<label for="id" th:text="#{serviceform.id}" >
				
				</label>
			</div>
		</th>
		<th>
			<div class=" form-control-label" >
				<label for="customer" th:text="#{serviceform.customer}" >
				
				</label>
			</div>
		</th>
	</tr>
	</thead>
	<tfoot>
	<tr>
		<th>
			<div class="form-control-label" hidden="">
				<label for="id" th:text="#{serviceform.id}" hidden="">
				
				</label>
			</div>
		</th>
		<th>
			<div class=" form-control-label" >
				<label for="customer" th:text="#{serviceform.customer}" >
				
				</label>
			</div>
		</th>
	</tr>
	</tfoot>
	<tbody>
		<tr th:each="serviceform : ${serviceformlist}">
		<form th:action="@{/serviceform.json}" class="form-inline serviceform" role="form">
			<td>
					
						
						<div class="form-group" >
								<input type="text" class="form-control" id="id" th:value="${serviceform.id}" />
						</div>
		</td>
		<td>
						<div class="form-group">
							
								<a th:href="@{/customer/{id}(id=${serviceform.customer.id})}" 
								th:text="${serviceform.customer.title}"
								class="rest"
								data-newdialog="true"
								>
								</a>
						</div>
		
					</td>
			<td>
			
			<div class="form-group">
				<button type="submit" class="btn btn-primary" th:text="#{str.save}"></button>
			</div>
			</td>
			</form>
		</tr>
		
		</tbody>
	</table>
</div>
