<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="myApp">

<head>
<title>Partek</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>

<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/base.css}"/>
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/dropdown.css}"/>
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/selectize.css}"/>
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/select2.css}"/>
<link rel="stylesheet" type="text/css" media="all" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/tablesorter/jquery.tablesorter.pager.min.css}"/>
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/tablesorter/theme.blue.min.css}"/>
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/tablesorter/theme.bootstrap.min.css}"/>

<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


<script type="text/javascript" src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" th:src="@{/js/other/selectize.js}"></script>
<script type="text/javascript" th:src="@{/js/other/select2.full.js}"></script>
<script type="text/javascript" th:src="@{/js/ajax.js}"></script>
<script type="text/javascript" th:src="@{/js/base.js}"></script>
<script type="text/javascript" th:src="@{/js/form.js}"></script>
<script type="text/javascript" th:src="@{/js/rest.js}"></script>
<script type="text/javascript" th:src="@{/js/tablesorter/jquery.tablesorter.js}"></script>
<script type="text/javascript" th:src="@{/js/tablesorter/jquery.tablesorter.widgets.js}"></script>
<script type="text/javascript" th:src="@{/js/tablesorter/parser-input-select.js}"></script>

<script type="text/javascript" th:src="@{/js/rest/serviceform.js}"></script>
<script type="text/javascript" th:src="@{/js/rest/customer.js}"></script>

        <link href="//moonstorm.github.io/trNgGrid/release/trNgGrid.min.css" rel="stylesheet" type="text/css"/>

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular-route.min.js"></script>
        <script src="//moonstorm.github.io/trNgGrid/release/trNgGrid.min.js"></script>



<style>
    [contenteditable="true"] {
        white-space: nowrap;
        width:200px;
        overflow: hidden;
    } 
    [contenteditable="true"] br {
        display:none;

    }
    [contenteditable="true"] * {
        display:inline;
        white-space:nowrap;
    }
</style>

<script type="text/javascript">

angular
.module('myApp', ['trNgGrid'])
.controller("MainCtrl", ["$scope", function ($scope) {
    $scope.myItems = [{name: "Moroni", age: 50},
             {name: "Tiancum", age: 43},
             {name: "Jacob", age: 27},
             {name: "Nephi", age: 29},
             {name: "Nephi", age: 29},
             {name: "Nephi", age: 29},
             {name: "Nephi", age: 29},
             {name: "Nephi", age: 29},
             {name: "Nephi", age: 29},
             {name: "Nephi", age: 29},
             {name: "Enos", age: 99}];
    }]); 
</script>

</head>

<body class="container">
 <div class="container-fluid">
	<div class="row">
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		     <a class="navbar-brand" href="#">
		         <img alt="Brand" th:src="@{/images/brand.png}" height="20px" />
		     </a>
		    </div>
		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
		          aria-haspopup="true" aria-expanded="false"><span th:text="#{forms}"></span> <span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li class="dropdown-submenu">
                    	<a href="#" class="dropdown-toggle" data-toggle="dropdown" th:text="#{serviceform}"></a>
                       	<ul class="dropdown-menu">
                           	<li><a href="#" th:text="#{str.new}"></a></li>
                            <li class="divider"></li>
                            <li>
                             	<a th:href="@{/serviceform}" th:text="#{str.index}" 
                             	class="rest"
                             	data-target="restcontainer" 
                             	data-targetsize="3"
                             	data-newdialog="false"
                             	data-isajaxcontainer="true">
                             	</a>
                             </li>
                            <li class="divider"></li>
                         </ul>
                     </li>
		          </ul>
		        </li>
		      </ul>
		      <form class="navbar-form navbar-left" role="search">
		        <div class="form-group">
		          <input type="text" class="form-control" placeholder="Search" />
		        </div>
		        <button type="submit" class="btn btn-default">Submit</button>
		      </form>
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="#">Link</a></li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" 
		          role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><a href="#">Action</a></li>
		            <li><a href="#">Another action</a></li>
		            <li><a href="#">Something else here</a></li>
		            <li role="separator" class="divider"></li>
		            <li><a href="#">Separated link</a></li>
		          </ul>
		        </li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
	</div>
	<div class="row">
		<div id="restcontainer" class="container-fluid">
		 <div ng-controller="MainCtrl">
		     <table tr-ng-grid="" items="myItems" page-items="5">
		     </table>
		 </div>
		</div>
		</div>
	</div>
	
	
</body>
<div id="loader_1" hidden="">
	<img th:src="@{/images/loader/loader_1.gif}" />
</div>
<div id="loader_3" hidden="">
	<img th:src="@{/images/loader/loader_3.gif}" />
</div>

<div id="largeModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->





</html>