<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Partek</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>

<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/normalize.css}"/>

<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/base.css}"/>
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/dropdown.css}"/>

<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


<script type="text/javascript" th:src="@{/js/ajax.js}"></script>
<script type="text/javascript" th:src="@{/js/base.js}"></script>
<script type="text/javascript" th:src="@{/js/form.js}"></script>
<script type="text/javascript" th:src="@{/js/rest.js}"></script>

<script type="text/javascript" th:src="@{/js/rest/customer.js}"></script>
</head>

<body>
	<div class="row">
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		     <a class="navbar-brand" href="#">
		        <img alt="Brand" th:src="@{/images/brand.png}" height="20px" />
		     </a>
		    </div>
		    
		    
		
		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
		          aria-haspopup="true" aria-expanded="false"><span th:text="#{forms}"></span> <span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li class="dropdown-submenu">
                    	<a href="#" class="dropdown-toggle" data-toggle="dropdown" th:text="#{serviceform}"></a>
                       	<ul class="dropdown-menu">
                           	<li><a href="#" th:text="#{str.new}"></a></li>
                            <li class="divider"></li>
                            <li>
                             	<a th:href="@{/serviceform}" th:text="#{serviceform.index}" 
                             	class="rest"
                             	data-target="container" 
                             	data-targetsize="3"
                             	data-newdialog="false"
                             	data-isajaxcontainer="true">
                             	</a>
                             </li>
                            <li class="divider"></li>
                            <li><a href="#" th:text="#{str.delete}"></a></li>
                         </ul>
                     </li>
		          </ul>
		        </li>
		      </ul>
		      <form class="navbar-form navbar-left" role="search">
		        <div class="form-group">
		          <input type="text" class="form-control" placeholder="Search" />
		        </div>
		        <button type="submit" class="btn btn-default">Submit</button>
		      </form>
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="#">Link</a></li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" 
		          role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><a href="#">Action</a></li>
		            <li><a href="#">Another action</a></li>
		            <li><a href="#">Something else here</a></li>
		            <li role="separator" class="divider"></li>
		            <li><a href="#">Separated link</a></li>
		          </ul>
		        </li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
	</div>
	<div class="row">
		<div id="container">Container</div>
	</div>
</body>
<div id="loader_1" hidden="">
	<img th:src="@{/images/loader/loader_1.gif}" />
</div>
<div id="loader_3" hidden="">
	<img th:src="@{/images/loader/loader_3.gif}" />
</div>

<div id="largeModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</html>